
doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='x-ua-compatible' content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title #{title}
    link(href='//developer.ringcentral.com/assets/images/favicon.ico?v=20181214-0738', type='image/vnd.microsoft.icon', rel='shortcut icon')
    link(rel='stylesheet', href=cdn + '/css/app.styles.bundle.css?' + version)
  body
    #bg
    #container
    #content-loading(style='text-align:center;padding:30px;font-size:24px') loading...
    script.
      window.rc = !{JSON.stringify(_global)}

    script(crossorigin, src='//unpkg.com/react@16/umd/react.production.min.js')
    script(crossorigin, src='//unpkg.com/react-dom@16/umd/react-dom.production.min.js')
    script.
      window.rc.onload = function() {
        document.body.removeChild(document.getElementById('content-loading'));
      };
    script(src=cdn + '/js/app.bundle.js?' + version, onload='window.rc.onload()')
    script.
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on","addSourceMiddleware","addIntegrationMiddleware","setAnonymousId","addDestinationMiddleware"];analytics.factory=function(e){return function(){var t=Array.prototype.slice.call(arguments);t.unshift(e);analytics.push(t);return analytics}};for(var e=0;e<analytics.methods.length;e++){var key=analytics.methods[e];analytics[key]=analytics.factory(key)}analytics.load=function(key,e){var t=document.createElement("script");t.type="text/javascript";t.async=!0;t.src="https://cdn.segment.com/analytics.js/v1/" + key + "/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(t,n);analytics._loadOptions=e};analytics._writeKey="write key redacted";analytics.SNIPPET_VERSION="4.13.2";
      analytics.load(window.rc.segmentKey);
      analytics.page();
      }}();
